<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center"><img src="{{ imageUrl }}" style="width: 120px" /></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Change Password</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password">
            </div>
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="card-footer">
          <div class="text-center mb-0 pb-0">
            <p class="mb-1"><b>Tips for creating a strong password:</b></p>
            <ul class="list-unstyled small mb-0">
              <li id="suggestion-letter-case-combination"><i>Use a combination of uppercase and lowercase letters</i></li>
              <li id="suggestion-numbers-and-special-characters"><i>Include numbers and special characters</i></li>
              <li id="suggestion-min-length"><i>Make it at least 8 characters long</i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
